body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.name {
    text-align: right;
    color: white;
    padding-right: 2em;
    font-weight: bold;
}

.main-container {
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 2em;
}

.container {
    display: flex;
}

.background-container {
    margin-top: 2em;
    display: flex;
}

.university-background {
    flex: 1;
    padding: 1em;
    margin-right: 1em;
}

.left-div {
    flex: 1;
}

.right-div {
    padding-top: 5em;
    flex: 1;
}

.left-div img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 30%;
}